// app global css in Sass form
.constrain
    max-width: 1250px
    margin: 0 auto

.methodConstrain
    max-width: 1500px
    margin: 0 auto

.siteTable
    font-size: 18px
.siteTable td:first-child
    background-color: $indigo-1
    font-weight: bold
.center
    text-align: center
    flex: 1 1 auto

.landingValue
    color: $red-8
    font-size: 24px
    font-weight: bold

.landingSubtitle
    font-weight: 600
    color: $indigo-4

/* move interactive habitat leaflet sass here */
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"

@import 'https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css'
